.Servicios
  .fondoImgServicios
    background-image url(../images/fondoservicios.png)
    background-repeat no-repeat
    background-position center bottom
    height 200px
    .content-title
      padding 70px 150px
      color red


  .sectionServicios1
    padding 20px

