.Servicios
  .fondoImgServicios
    background-image url(../images/fondoservicios.png)
    background-repeat no-repeat
    background-position center bottom
    height 200px
    .content-title
      padding 70px 150px
      color #EE5E70
  .sectionServicios1
    background white
    border-bottom 1px solid black
    .content
      padding 20px
      .text-title
        .title
          color #ee3101
          font-size 20px
        .subtitle
          color #454545
          font-sice 16px