@import 'reticula.styl'
@import 'home/home.styl'
@import 'info/info.styl'
@import 'contact/contact.styl'
@import 'question/question.styl'

body
  background #ECEFF1

.headerr
  position fixed
  background #FFF
  width 100%
  z-index 500
  top 0
  left 0
  padding 12px 0
  border-bottom 1px solid #cfd8dc
  transition all .3s ease-in-out
.headerr img
  display block
  width 180px
  height 50px

.headerr .input-wrapper
  position relative



.right
  float: right!important

.mdi-magnify:before
  content "\f401"

.headerr .input-wrapper input
  position relative
  z-index: 10
  height: auto
  margin: 5px 0 0
  border: none
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  background: 0 0
  border-bottom: 1px solid transparent
  font-size: 16px
  padding: 6px 28px 6px 34px
  display: inline-block
  width: 200px
  -webkit-transition: all .3s ease-in-out
  -moz-transition: all .3s ease-in-out
  -o-transition: all .3s ease-in-out
  transition: all .3s ease-in-out
  font-weight: 700
  color: #546E7A

.content-row
  position: relative
  background: #eceff1
  padding-top 75px

@media screen and (max-width: 39.9375em)
  .content-row
    padding-top 0px



 ////////////// MENU LEFT
.content-row
  .menu-izq
    &-content
      padding-top 20px
    &-nav
      position fixed
      list-style none
      margin 0 34px
      li
        a
          display: block
          padding: 8px 16px
          font-size: 13px
          font-weight: 400
          color: #78909C
          -webkit-border-radius: 0 2px 2px 0
          -moz-border-radius: 0 2px 2px 0
          border-radius: 0 2px 2px 0
          border-left: 3px solid #eceff1
          -webkit-transition: all .1s ease-in-out
          -moz-transition: all .1s ease-in-out
          -o-transition: all .1s ease-in-out
          transition: all .1s ease-in-out
          img
            display: inline-block
            height: 18px
            width: 18px
            line-height: 1
            margin-right: 6px
            margin-top: -3px


.menu-izq-nav li a:hover
  background #CFD8DC
  border-left-color: #B0BEC5

.menu-izq-nav li .active
  border-left-color #00BAFF
  color: #455A64
  font-weight: 700


@media screen and (min-width: 640px)  and (max-width: 1023px)
  .content-row
    .menu-izq
      &-nav
        margin 0 25px

  //////////////

.content-row
  .menu-der
    padding 20px

@media screen and (max-width: 639px)
  .content-row
    .menu-der
      padding-top 0
      padding-left 0
      padding-right 0


//HEADER SMALL
.header-small
  background white
  padding 20px
  border-bottom: 1px solid #CFD8DC
  img
    height 50px
  input
    position: relative
    z-index: 10
    height: auto
    margin: 5px 0 0
    border: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    background: 0 0
    border-bottom: 1px solid transparent
    font-size: 16px
    padding: 6px 28px 6px 34px
    display: inline-block
    width: 200px
    -webkit-transition: all .3s ease-in-out
    -moz-transition: all .3s ease-in-out
    -o-transition: all .3s ease-in-out
    transition: all .3s ease-in-out
    font-weight: 700
    color: #546E7A

//MENU SMALL
.top-barr
  padding 4px
  border-bottom 1px solid #BFBFBF
.top-bar-section
  left: 0
  width: auto
  transition: left .3s ease-out
  ul
    display: block
    font-size: 16px
    height: auto
    margin: 0
    padding: 0
    width: 100%

.top-barr ul
  list-style: none
  padding-left 20px
  margin-bottom 3px

.top-bar-section ul:hover
  color #B0BEC5

.top-bar-section .listMenu a
  padding 7px
  background transparent

.top-bar-section .rightt
  margin 0
  padding 0

.top-bar-section .rightt a
  background transparent
  padding-top 10px
  padding-bottom 7px
  padding-left 32px


.top-bar-section a
  display: block
  padding: 0 10px
  font-size: 14px
  color: #78909C
  -webkit-border-radius 0 2px 2px 0
  -webkit-transition: all .1s ease-in-out
  -moz-transition: all .1s ease-in-out
  -o-transition: all .1s ease-in-out
  transition: all .1s ease-in-out
.top-bar-section .iconos
  padding-right 10px
  font-size 18px

//REDES

.redess a
  margin 0 .5em

.facebook
  color #3B5998
  font-size 2.5em !important

.twitter
  color #1B95E0
  font-size 2.5em !important

.google
  color #DA4B39
  font-size 2.5em !important

.skype
  color #00AFF0
  font-size 2.5em !important


//SEARCH

.form
    width 400px
    &-content
       position relative
       right 10px
       top 10px
       animation-name animacion1
       animation-duration 1s
    &-search
      border 1px solid #0A8ECD
      display inline-block
      padding 0 2em
      min-width 400px
      outline 0
      color #268ECD 
      border-radius 3px
    &-search:focus
      border 1px solid #0A8ECD
      box-shadow: -1px -1px 1px #0A8ECD,
               1px  1px 1px #0A8ECD
      color #268ECD    
    &-icon
      position absolute
      top 8px
      left 5px
      i
        color #208ECD

input::-webkit-input-placeholder
  color #AAA
  font-family 'Roboto'
  font-weight bold
  font-size 1.2em






//ANIMACIONES
@keyframes animacion1
  from
    right -400px
  to
    right 10px 







  


