extends ../layout.jade

block content
	main(class="view-question")
		h1(class="questionSection-title")
			| Preguntas Frecuentes
		section(class="questionSection roww" id="question")
			article(class="questionSection-description col-12") ¿Cuanto cuestan sus servicios?
				span(class="icon-mas")
				p(class="questionSection-content")
					| Nuestra plataforma se creo con el fin de brindar un buen servicio siempre considerando al cliente de una manera justa, y sacando a produccion un producto 100% usable. 
			article(class="questionSection-description col-12") ¿Cuanto tardaran en entregarme mi Poryecto?
				span(class="icon-mas")
				p(class="questionSection-content")
					| hola jorg

			//- article(class="questionSection-description col-12") ¿Mi Aplicacion se podra ver en cualquier lato,telefono o tablet?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Tengo soporte personalizado via Skipe o Correo?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Donde puedo realizar el pago?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Tengo que dar un adelanto de Dinero?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Cuanto tiempo daran soporte ami Proyecto?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Incluyen hosting en su Servicio?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Como manejan el posicionamiento en internet?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Hacen Sus diseños basado en una buena UI(Interfaz) y UX(Expericencia) de usuario?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Que garantia me ofrecen?
			//- 	span(class="icon-mas")
			//- article(class="questionSection-description col-12") ¿Mi poryecto sera seguro ante personas maliciosas?
			//- 	span(class="icon-mas")






