.sectionPreguntas .card
	background white
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
	webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
	&-item
		margin-left 15px
		margin-right 15px
		&-imgAdmin
			width 70px
		&-mostrar
			cursor pointer
			.contentRespuesta
				padding 10px

@media screen and (max-width: 639px)
	.sectionPreguntas .card
		&-item
			margin-left 0
			margin-right 0
			&-alinear
				text-align center
			&-imgAdmin
				width 90px



.separator-question
	height 10px


.example-enter
	opacity 0
	transition opacity .5s ease-in

.example-enter.example-enter-active
	opacity 1

.example-leave
	opacity 1
	transition opacity .5s ease-in

.example-leave.example-leave-active
	opacity 0


.article-question
	padding 1em 2em

.article-question:hover
	background #EEEEEE
	img
		transform rotate(360deg)


.article-question img
	transition 1s
	height 90px

.content-question
	border 1px solid white

.question-title
	color #058ECD
	padding-bottom .5em
	padding-top 1.5em
	margin-left .5em
	font-family 'Open Sans'
	text-align center
	border-bottom 1px solid  #058ECD

.question
	color #5F6A70

.question-option
	color  #00BAFF
	font-weight bold
	font-size 1.2em


// .showw
// 	display none !important

// .showw:hover
// 	display block !important


.answer
	color #5F6A70
	font-size 1.1em





	

