
.sectionPreguntas
	background #EEEEEE

.sectionPreguntas .row
	min-width 80%
	margin-top 1%

.contentRespuesta
	padding 10px

.row .card
	background white
	border-radius 5px
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
	webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
	&-item
		margin-left 20px
		margin-right 20px
		&-imgAdmin
			width 67px
		&-mostrar
			cursor pointer

@media screen and (max-width: 639px)
	.row .card
		&-item
			&-alinear
				text-align center
			&-imgAdmin
				width 80px



.separator-question
	height 10px


.example-enter
	opacity 0
	transition opacity .5s ease-in

.example-enter.example-enter-active
	opacity 1

.example-leave
	opacity 1
	transition opacity .5s ease-in

.example-leave.example-leave-active
	opacity 0


.article-question
	padding 1em 2em

.article-question:hover
	background #EEEEEE
	img
		transform rotate(360deg)


.article-question img
	transition 1s

.content-question
	border 1px solid white

.question-title
	color #00BAFF
	padding-bottom 1em
	padding-top .5em
	margin-left .5em

.question
	color #5F6A70
	font-family 'Roboto'

.question-option
	color  #00BAFF
	font-family 'Rokkitt'
	font-weight bold
	font-size 1.2em

.answer
	color #5F6A70
	font-family 'Roboto'
	font-size 1.1em











	

