.question-content
	  box-shadow -1px -1px 1px #5F6A70,
                 2px  2px 2px #5F6A70
	

.sectionPreguntas
	background #EEEEEE
	
.sectionPreguntas .row
	min-width 80%
	margin-top 3%

.row .card
	background white
	border-radius 5px

	&-item
		margin 20px
		&-mostrar
			cursor pointer
		&-imgAdmin
			text-align center

@media screen and (max-width: 39.9375em)
	.row .card
		&-item
			&-alinear
				text-align center
			&-imgAdmin
				height 90px

@media screen and (min-width: 40em)
	.row .card
		&-item
			&-imgAdmin
				height 70px

.separator-question
	height 10px


.example-enter
	opacity 0
	transition opacity .5s ease-in

.example-enter.example-enter-active
	opacity 1
		
.example-leave
	opacity 1
	transition opacity .5s ease-in

.example-leave.example-leave-active
	opacity 0



.article-question:hover
	background #EEEEEE
	img
		transform rotate(360deg)


.article-question img
	transition 1s


.question-title
	color #00BAFF
	padding-bottom 1em
	padding-top .5em
	margin-left .5em
	text-shadow 2px 2px 2px #AAA

.question
	color #5F6A70
	
.question-option
	color  #00BAFF
	font-family 'Rokkitt'	
	font-weight bold
	font-size 1.2em
	


.answer
	color #5F6A70
	font-family 'Rokkitt'
	font-size 1.1em	
	font-weight 600
	


	


	
    
		
		

	

