
[class*="entypo-"]:before
    font-family: 'entypo', sans-serif;

.sectionhomeAll
    box-shadow: 0 1px 0px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
    webkit-box-shadow: 0 1px 0px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)

.sectionhome1
    background white
    background-image url(../../asset/images/gradient-background.png)
    background-repeat no-repeat
    background-position center
    background-size cover
    height 200px
    padding 30px
    .content
        position relative;
        height 150px
        display flex
        .text-content
            -webkit-align-self: flex-end;
            padding-bottom 20px
            padding-left 60px
            .description
                font-size 22px
                color white
                max-width 400px
        .text-img
            position: absolute;
            top: 10px;
            right: 15px
            img
                height 50px
                opacity 0.7

@media screen and (max-width: 639px)
    .sectionhome1
        padding 15px
        .content-small
            text-align center
            padding 0 18px 0 18px
            .description-small
                font-size 18px
                color white
        .content
            display none

@media screen and (min-width: 640px) and (max-width: 1023px)
    .sectionhome
        .content
            .text-content
                .description
                    max-width 300px
                    font-size 18px


.sectionhome2
    background white
    .container1
        padding 140px
        border-radius 2px
        p
            font-size 25px
            color #5F6A70
    .container2
        border-radius 2px
        display flex


.sectionhome3
    background white
    padding 40px 2px
    border-top 1px solid #5F6A70

    .container
        padding 10px
        .section-title
            text-align center
            margin 10px
            .title
                padding 20px
                font-size 28px
                color #5F6A70
        .spaces
            padding 10px
            .content
                border-radius 2px
                border 1px solid #e4eaec
                background #F0F0F0
                margin 1px
                img
                    height 120px
                    padding 15px
                .text-content
                    padding 10px
                    font-size 16px
                    background #728087
                    color white

            .content:hover
                border 1px solid #0072C6
                color white
            .content:hover .text-content
                background #0072C6

        .content-button
            text-align center
            margin-top 20px


@media screen and (min-width: 40em) and (max-width: 63.9375em)
    .sectionhome3
        .container
            .content
                .spaces
                    .text-content
                        text-align center



@media screen and (max-width: 639px)
    .sectionhome4
        .container2
            display block
            margin-top -80px
            .flex-video
                text-align center
                margin 0 40px 20px 40px
            .bottomVideo-span
                display flex
                color white
                justify-content space-around
                .texto
                    margin-bottom -8px
                .spacio
                    margin 1px
                    border  1px solid #4B8BA0

.sectionhome4
    padding-top 20px
    background white
    .text-title
        p
            font-size 20px
            color #5F6A70
    .container
        .content-item
            padding 10px
            border 1px solid #cfd8dc;
            box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
            webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)

//MODAL
#contentModal
    position relative

#contentModal .imgVideoModal
    background-repeat no-repeat
    height 270px
    position relative
    cursor pointer

.icon-closeModal
    color: #aaa;
    font-size: 30px;
    text-decoration: none;



.separacion
    padding-bottom 8px

//Section Mas Informacion


//Section Slider

.slideSmall
    height 470px
    color white

.slideDesktop
    height 400px
    padding: 20px
    color : white

.slideContainerDesktop
    height 400px
    p.pTitleDesktop
        font-size 30px
    p.ptextDesktop
        font-size 25px


@media screen and (min-width: 40em) and (max-width: 63.9375em)
    .slideDesktop
        height 630px
    .slideContainerDesktop
        height 630px


//SectionInfo

#sectionServicios
    background white

#sectionServicios .SpanInfo
    margin 7px

#sectionServicios .content
    margin 20px
    background #ECEFF5
    box-shadow 0 1px 3px 1px #BFBFBF

#sectionServicios .ServiciosSeparacion
    margin 10px

.sectionQuienesSomos
    .information
        padding 1.5em 0
        background #08D1D8
        &-we
            color white
            font-family 'Roboto'
            font-size 1.4em
        &-more
            margin-left 2.2em
            color white
            font-size 1.2em
            background #456FB6
            padding 1em 1em
            font-family 'Roboto'
            border-radius 5px
        &-more:hover
            color #4683B2
            background #ECEFF1
            border-radius 0
            transition  border-radius 3s

        
        



















