body
    background #f1f1f1

[class*="entypo-"]:before
    font-family: 'entypo', sans-serif;


//BUSCAR

input[type=search]
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;


input[type=search]
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 7px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 120px;

    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

input[type=search]:focus
    width: 220px;
    background-color: #fff;
    border-color: #00BAFF;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);



input:-moz-placeholder
    color: #999;

input::-webkit-input-placeholder
    color: #999;






//SECTION VIDEO
#sectionVideo
    margin 0

#sectionVideo .topVideo
    margin 0
    height 100px
    background #4B8BA0
    box-shadow 0 3px 3px -2px #BFBFBF
    position relative


#sectionVideo .bottomVideo
    margin-top -75px
    box-shadow 0 3px 3px -2px #BFBFBF;
    background white

.sectionVideoDesktop1
    margin 0

.title-web
    color white
    font-family 'Oswald'
.title-we
    font-family 'Oswald'
    color white

.imagenfondodekstop
    background-image url(../../asset/images/fondoimg2.png)
    background-repeat no-repeat
    background-position center center
    background-size cover
    padding 20px



//MODAL
#contentModal
    float: left;
    position relative

#contentModal .imgVideoModal
    background-repeat no-repeat
    height 270px
    position relative
    cursor pointer

.icon-closeModal
    color: #aaa;
    font-size: 30px;
    text-decoration: none;

.bottomVideo .centerVideo
    margin-left 50px
    margin-right 50px
    position relative

.centroVideo .titleVideo
    text-align left

.bottonVideo-content

    text-align center
    margin-left 10px
    margin-right 10px

.bottonVideo-content .title
    padding 3px
    margin-left 40px
    margin-right 40px
    font-weight bold

.bottonVideo-content .texto
    margin 0 auto

.bottomVideo-span
    display flex
    justify-content space-around
    border 1px solid #4B8BA0

.bottomVideo-span .texto
    margin-bottom -8px

.bottomVideo-span .spacio
    border  1px solid #4B8BA0

.separacion
    padding-bottom 8px

//Section Mas Informacion


//Section Slider
#sectionSlider
    background white


.slideSmall
    height 470px
    color white

.slideDesktop
    height 400px
    padding: 20px
    color : white

.slideContainerDesktop
    height 400px

@media screen and (min-width: 40em) and (max-width: 63.9375em)
    .slideDesktop
        height 630px
    .slideContainerDesktop
        height 630px

//SectionInfo

#sectionServicios
    background white

#sectionServicios .SpanInfo
    margin 7px

#sectionServicios .content
    margin 20px
    background #ECEFF5
    box-shadow 0 1px 3px 1px #BFBFBF

#sectionServicios .ServiciosSeparacion
    margin 10px


























