.contactenos
	.container
		.title
			padding 10px
			text-align center
			border-bottom .5px solid #49B5D5
			.circleMovil
				text-align left
				padding-left 30px
				position relative
			i
				padding-right 8px
				color white
			.text-contact
				text-align center
				display inline-block
				font-size 20px
				color #49B5D5
			.text-contactOculto
				display inline-block
				padding-top 22px

		.content
			padding 30px
			background white
			background-image url(../../asset/images/fondocontact1.png)
			background-repeat no-repeat
			background-position center
			background-size cover


			form
				position relative
				text-align left
				padding-right 10px
				padding-left 10px

				.content-input
					padding: 20px 0 0 0;
					position: relative;
					.label-mat
						display: block;
						font-size: 12px;
						transform: translateY(35px);
						color: #5F6A70;
						transition: all 0.5s;
						width: 75%
						font-weight bold
					.input-mat
						position: relative;
						outline: none;
						padding: 8px 0;
						font-size: 12px;
					.label-mat:hover
						cursor pointer
				.content-input:after, .content-input:before
					content: "";
					position: absolute;
					display: block;
					width: 75%;
					height: 2px;
					background-color: #e2e2e2;
					bottom: 0;
					left: 0;
					transition: all 0.5s;

				.content-input::after
					background-color: #00BAFF;
					transform: scaleX(0);

				.content-inputTextarea
					padding: 30px 0 0 0;
					position: relative;
					.label-mat
						display: block;
						font-size: 12px;
						font-weight bold
						transform: translateY(35px);
						color: #5F6A70;
						transition: all 0.5s;
						width: 75%
					.label-mat:hover
						cursor pointer
				.content-inputTextarea:after, .content-inputTextarea:before
					content: "";
					position: absolute;
					display: block;
					width: 90%;
					height: 2px;
					background-color: #e2e2e2;
					bottom: 0;
					left: 0;
					transition: all 0.5s;

				.content-inputTextarea::after
					background-color: #00BAFF;
					transform: scaleX(0);

				.is-active::after
					transform: scaleX(1);

				.is-active .label-mat
					color: #00BAFF;

				.is-completed .label-mat
					font-size: 12px;
					transform: translateY(0);

				.help-text
					color #49B5D5
					font-weight bold
					margin-top -7px
					font-size 12px
				.help-textArea
					color #49B5D5
					right 20px
					font-weight bold
					margin-top 5px
					font-size 12px

				.iconAprov
					padding-top 20px

				input
					border:0
					box-shadow none !important
					max-width 75%

				textarea
					max-width: 90%
					border: 0;
					box-shadow none !important
				.ErrorMessage
					background #E33238
					border 1px solid #A52B2B
					padding 8px
					.Message-text
						text-align center
						font-size 14px
						color white


			.errorPadding
				padding 20px 40px 10px 90px

			.buttonFinal
				padding-top 10px
				text-align center
				button
					min-width 200px

			.circleDesktop
				padding-top 100px
				height 320px





@media screen and (max-width: 639px)
	.contactenos
		.container
			.content
				background-image none
				.errorPadding
					padding 5px


.SuccessMensaje
	padding 30px
	.content-img
		padding-top 50px
		padding-left 10px
		padding-right 10px
		text-align center
		img
			height 300px
	.content-text
		padding 60px
		.textMensaje
			color white
			text-align center
			img
				height 50px
				text-align center


@media screen and (max-width: 639px)
	.SuccessMensaje
		.content-img
			padding-top 10px
			img
				height 200px


#container
	margin 0
	padding 0
	height 100%
	display table
	width 100%

.Demo
	display table-cell
	text-align center
	vertical-align middle


:root
	--progress-bg-color #49B5D5
	--progress-fg-color #F2F2F2

	--progressInfo-bg-color #49B5D5
	--progressInfo-fg-color #f26b6b
	--progressInfo-fy-color #f239e6

.CircularProgress-Bg,
.CircularProgress-Fg
	fill none

.CircularProgress-Bg
	stroke var(--progress-bg-color)

.CircularProgress-Fg
	transition stroke-dashoffset .5s ease-in-out
	stroke var(--progress-fg-color)

.CircularProgress-Text
	fill var(--progress-fg-color)
	transform translate(0 50%)


.CircularProgressInfo-Bg
	fill none

.CircularProgressInfo-Bg
	stroke var(--progressInfo-fy-color)


.CircularProgressInfo-Text
	fill var(--progressInfo-fg-color)
	transform translate(0 50%)
