.contactenos
	padding 15px
	padding-top 0
	padding-bottom 0
	.container
		.title
			padding 10px
			text-align center
			background #00BAFF
			.circleMovil
				text-align left
				padding-left 30px
				position relative
			i
				padding-right 8px
			.text-contact
				text-align center
				display inline-block
				font-size 18px
			.text-contactOculto
				display inline-block
				padding-top 22px


		.content
			padding 30px
			background white
			.formContat
				position relative
				text-align left
				padding-right 10px
				padding-left 10px
				label
					font-size 16px
					color #546E7A
				.help-text
					color #596E7A
					margin-top -13px
					font-size 12px
				.help-textArea
					color #596E7A
					margin-top 2px
					text-align right
					font-size 9px

				.iconAprov
					padding-top 20px

				input
					padding 10px
					max-width: 80%
					font-size 16px
					height 50px
					color #5F6A70
					border-radius 2px
					border: 1px solid #BDC3C7;
					background transparent
				input:-webkit-autofill
					background-color white
				input:focus
					border: 1px solid #00BAFF;

				textarea
					color #596E7A
					border-radius 2px
					border: 1px solid #BDC3C7;
					height 100px
				textarea:focus
					border: 1px solid #00BAFF;

				.ErrorMessage
					background #E33238
					border 1px solid #A52B2B
					padding 8px
					.Message-text
						text-align center
						font-size 14px
						color white
			.buttonFinal
				padding-top 10px
				text-align center
				button
					min-width 200px

			.circleDesktop
				padding-top 70px
				height 320px


.SuccessMensaje
	padding 30px
	.content-img
		padding-top 50px
		padding-left 10px
		padding-right 10px
		text-align center
		img
			height 300px
	.content-text
		padding 60px
		.textMensaje
			color white
			text-align center
			img
				height 50px
				text-align center
//PRUEBA SVG

#container
	margin 0
	padding 0
	height 100%
	display table
	width 100%

.Demo
	display table-cell
	text-align center
	vertical-align middle


:root
	--progress-bg-color #49B5D5
	--progress-fg-color #F2F2F2

	--progressInfo-bg-color #49B5D5
	--progressInfo-fg-color #f26b6b
	--progressInfo-fy-color #f239e6

.CircularProgress-Bg,
.CircularProgress-Fg
	fill none

.CircularProgress-Bg
	stroke var(--progress-bg-color)

.CircularProgress-Fg
	transition stroke-dashoffset .5s ease-in-out
	stroke var(--progress-fg-color)

.CircularProgress-Text
	font-family sans-serif
	fill var(--progress-fg-color)
	transform translate(0 50%)


.CircularProgressInfo-Bg
	fill none

.CircularProgressInfo-Bg
	stroke var(--progressInfo-fy-color)


.CircularProgressInfo-Text
	font-family sans-serif
	fill var(--progressInfo-fg-color)
	transform translate(0 50%)
