.view-info
	height 100%

.sectionInformation
	color white

.sectionInformation .imagenInformacion
	background-image: url("../../asset/images/fondoimg1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment fixed
	background-size: cover;


.sectionInformationDife
	background white
	padding 20px

.sepa
	margin 10px
	img
		height 160px
.sepa .mensaje
		margin 10px

.sectionInformationQ
	padding 30px
	background #6DC2AD
	color white


.info
	&-title
		color #273B47
		font-family 'Allerta' 
		border-bottom 2px dashed #00B84E
		padding-bottom .5em

.diferences
	&-title
		color #273B47
		font-family 'Allerta'
		padding-bottom .5em
	&-titleq
		color white
		font-family 'Allerta'
		padding-bottom .5em

/*
.sectionInfo
	padding 15px
	.columns
		color red
	&-title
		color #4F5A64
		font-family 'Allerta'
		font-size 30px
	.spaces
		margin-left 0
		margin 10px
		padding 10px
		background white
		border-radius 2px
		box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
		webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
		img
			height 170px
		.titlebox
			color #263238
		.description
			font-size 14px
			color #546E7A

*/
.sectionInfo
	padding-top 15px
	.content
		box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
		webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
		&-title
			padding 15px
			background #00BAFF
		&-content
			background white
			padding 40px
			.spaces
				background white
				margin 10px
				padding 10px
				border 1px solid #78909C
			img
				height 170px

.row .columns
	margin 0
	padding 0

		
		
			

