.sectionInfoQue
	.content
		box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
		webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
		&-title
			padding 15px
			background #00BAFF
			.title-mensaje
				padding-left 20px
				color white
				font-size 18px
				i
					padding-right 10px
		.imgFondo
			height 250px
			background-image: url("../images/fondoimg1.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-attachment fixed
			background-size: cover;
			&-content
				padding 30px
				.text-mensaje
					margin 10px
					font-size 16px
				img
					height 200px

					color white


.sectionInfoDif
	padding-top 20px
	.content
		box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
		webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
		&-title
			padding 15px
			background #08D1D8
			.title-mensaje
				padding-left 20px
				color white
				font-size 16px
			i
				padding-right 10px
		&-content
			background white
			padding 30px
			.spaces
				background white
				padding 10px
				.medida
					margin 1px
					border 1px solid #CFD8DC
					border-radius 2px
					padding 5px
					.titlebox
						padding-top 5px
						color #263238
						font-size 16px
					.description
						font-size 14px
						color #546E7A

				.medida:hover
					border 1px solid #B7C4CA
			img
				height 170px

.row .columns
	margin 0
	padding 0



.sectionInforQuie
	padding-top 20px
	.content
		background white
		&-title
			padding 15px
			background #8C8A95
			.title-mensaje
				padding-left 20px
				color white
				font-size 16px
				i
					padding-right 10px
		&-content
			border 1px solid red
			.row
				margin 15px
				text-align center
				.container
					padding 5px
					.progressCircle
						padding-top 2px
					.progressText
						color #263238
						font-size 10px
						text-align left
						font-family sans-serif

