extends  ../layout.jade


block content
	main(class="view-info")
		section(class="roww centerr info")
			h1(class="col-10  info-title")
				| ¿QUE ES NODEZI?
			article(class="roww middlee around welcome")
				figure(class="col-6  welcome-contentImage")
					img(src="../public/images/mocad.png", alt="",width="350px")
				p(class="col-6 welcome-info")
					| Bievenidos a Nodezi, Somos una empresa especializada en servicios y soluciones informaticas en el sector profesional. Nuestra especializacion se centra  en el desarrollo de software implementando las mejores tecnicas de seguridad.
		section(class="roww  centerr diferences")
			h2(class="col-10 diferences-title")
				| ¿QUE NOS HACE DIFERENTE?
			ul(class="col-9 startt  diferences-list")
				li(class="icon-pencil") Software a la medida
				li(class="icon-pencil") Seguridad de la informacion 
				li(class="icon-pencil") Sin costo de mantenimiento
				li(class="icon-pencil") Mejor experiencia del usuario(UX)
				li(class="icon-pencil") Mejor interfaz grafica(UI)
				li(class="icon-pencil") Compromiso con el cliente
		section(class="roww centerr we")
			h2(class="col-10  we-title")
				| ¿QUIENES SOMOS?
			article(class="roww centerr we-info")
				p(class="col-8")
					| Somos un grupo de jovenes, emprendedores e innovadores, apasionados por la tecnologia informatica y seguridad informatica y dar soluciones informatica.







	
				

	




