.view-info
	height 100%

.sectionInformation
	color white

.sectionInformation .imagenInformacion
	background-image: url("../../asset/images/fondoimg1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment fixed
	background-size: cover;
	padding: 20px;


.sectionInformationDife
	background white
	padding 20px


.sepa
	margin 10px
	img
		height 160px
.sepa .mensaje
		margin 10px

.sectionInformationQ
	padding 30px
	background #6DC2AD
	color white


.info
	&-title
		color #273B47
		font-family 'Allerta' 
		border-bottom 2px dashed #00B84E
		padding-bottom .5em

.diferences
	&-title
		color #273B47
		font-family 'Allerta'
		padding-bottom .5em
	&-titleq
		color white
		font-family 'Allerta'
		padding-bottom .5em



 

		
		
			

